body {
    background-color: white;
    margin: 0px;
}

header {
    border-bottom: 3px solid lightgray;
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
}

.login {
    text-align: right;
    padding-top: 0px;
    margin-right: 20px;
}

img {
    height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    border: 3px solid lightgray;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
    border-radius: 5px;
}

.done {
    text-align: center;
    padding: 50px;
    padding-bottom: 150px;
}

footer {
    text-align: center;
    margin-top: 20px;
    border-top: 3px solid lightgray;
    color: lightgray;
    padding: 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: white;
}

